{% extends 'base.html' %}

{% block menu %}
    <form method="GET" class="search" action="{% url 'search' %}">
              {% csrf_token %}
              {{ form.search_name }}
              <p><input type="submit" class="btn"  value="Search"></p>
    </form>
{% endblock %}

{% block content %}

   <h1>Guest book:</h1>

   <hr/>

   {% for book in books %}
       <div class="text">
       <h2>{{ book.name }} ({{ book.email }})</h2>
           <div class="icons">
           <a href="{% url 'update_note' book.pk %}"><i class="fas fa-pen"></i></a>
           <a href="{% url 'delete_note' book.pk %}"><i class="fas fa-trash"></i></a>
           </div>

       </div>

       <p>{{ book.text }}</p>



       <hr/>

   {% endfor %}

{% endblock %}
